$break-small: 540px;

.footer {
	position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #444445;
  min-height: 5em;
  color: #fafafa;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  a {
  	color: #fafafa;
  }

  @media ($break-small){
  	font-size: 1em;
  }

  iframe {
  	display: inline;
  	margin: 0 .3em;
  }
}
