$break-medium: 960px;
$break-small: 540px;

*, *:before, *:after {
  box-sizing: inherit;
}

p{
  margin-block-end: 0.6em;
}
p+p {
  margin-block-start: 0;
}

body {
	@media (max-width: $break-medium) {
		font-size: 12px;
	}
}

.wrapper {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 4em; /* height of your footer */
}